<div class="header">
  <!--Navbar-->
  <nav class="navbar navbar-light light-blue lighten-4">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">Park Planner</a>

    <!-- Collapse button -->
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
      aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">User Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/example">Example Routes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://disneyworld.disney.go.com/" target="_blank">Disney
            Information</a>
        </li>
      </ul>
      <!-- Links -->

    </div>
    <!-- Collapsible content -->

  </nav>
  <!--/.Navbar-->
</div>
<div class="full-screen-video-container">
  <video autoplay loop muted>
    <source src="../public/Sample Videos 2.mp4" type="video/mp4">
  </video>
  <div class="full-screen-video-content">
    We take the stress out of planning your vacation
    <button id="sign-up" type="button" class="btn btn-info">Sign Up with us!</button>
  </div>
</div>


<footer class="card-footer mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <!-- <div class="card"> -->
        <div class="card-body">
          <h4>Contact us!</h4>
          <p><a href="#" class="links"><i class="fab fa-facebook-square"></i> Facebook</a></p>
          <p><a href="#" class="links"><i class="fab fa-twitter-square"></i> Twitter</a></p>
          <p><a href="#" class="links"><i class="fab fa-instagram"></i> Instagram</a></p>
          <p><a href="#" class="links"><i class="fas fa-envelope-open-text"></i> Email</a></p>
        </div>
        <!-- </div> -->
      </div>
      <div class="col-lg-6">
        <!-- <div class="card"> -->
        <div class="card-body">
          <h4>Disney Information</h4>
          <p><a href="https://disneyworld.disney.go.com/admission/" target="_blank" class="links"><i
                class="fas fa-ticket-alt"></i> Parks and
              Tickets</a>
          </p>
          <p><a href="https://disneyworld.disney.go.com/resorts/" target="_blank" class="links"><i
                class="fas fa-hotel"></i> Places to
              Stay</a></p>
          <p><a href="https://disneyworld.disney.go.com/activities/" target="_blank" class="links"><i
                class="fas fa-calendar-alt"></i> Things to
              Do</a></p>
          <p><a
              href="https://www.shopdisney.com/property/disney-parks/walt-disney-world?CMP=syn-dcom:dcomm_parks_WDW_SDPRedirect_SiteNav_GearUpForYourVacation_efc280559"
              target="_blank" class="links"><i class="fas fa-shopping-cart"></i> Shop</a>
          </p>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>