<div class="header">
  <!--Navbar-->
  <nav class="navbar navbar-light light-blue lighten-4">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">Park Planner</a>

    <!-- Collapse button -->
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
      aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user" id="theBtn">User Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/example">Example Routes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://disneyworld.disney.go.com/" target="_blank">Disney
            Information</a>
        </li>
      </ul>
      <!-- Links -->

    </div>
    <!-- Collapsible content -->

  </nav>
  <!--/.Navbar-->
</div>
<div class="full-screen-video-container">
  <video autoplay loop muted>
    <source src="/media/disney_sample.mp4" type="video/mp4">
  </video>
  <div class="full-screen-video-content">
    We take the stress out of planning your vacation
  </div>
</div>


<!--Modal: Login / Register Form-->
<div class="text-center">
  <a href="" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm">Sign
    up or
    Login!</a>
</div>

<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
              Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
              Register</a>
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

            <!--Body-->
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1"><i class="fas fa-at"></i> User name or
                    Email</label>
                  <input type="user-name-or-email" class="form-control" id="user-login-name"
                    aria-describedby="emailHelp" placeholder="johnSmith@gmail.com">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1"><i class="fas fa-lock"></i> Password</label>
                  <input type="password" class="form-control" id="user-login-password" placeholder="Password">
                </div>
              </form>
            </div>
            <!--Footer-->
            <div class="modal-footer">
              <button type="button" class="btn-secondary" data-dismiss="modal" id="close">Close</button>
              <a href="/user"><button type="button" class="btn-primary" id="user-login">Login</button></a>
            </div>
          </div>
          <!--/.Panel 7-->

          <!--Panel 8-->
          <div class="tab-pane fade" id="panel8" role="tabpanel">

            <!--Body-->
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1"><i class="fas fa-at"></i> Email address</label>
                  <input type="email" class="form-control" id="new-user-name" aria-describedby="emailHelp"
                    placeholder="johnSmith@gmail.com">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1"><i class="fas fa-lock"></i> Password</label>
                  <input type="password" class="form-control" id="new-user-password1" placeholder="Password">
                  <small id="passwordHelpBlock" class="form-text text-muted">
                    Your password must be 8-20 characters long, contain letters and numbers, and
                    must not contain spaces, special characters, or emoji.
                  </small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1"><i class="fas fa-lock"></i> Confirm
                    Password</label>
                  <input type="password" class="form-control" id="new-user-password2" placeholder="Confirm Password">
                </div>
              </form>
            </div>
            <!--Footer-->
            <div class="modal-footer">
              <button type="button" class="btn-secondary" data-dismiss="modal" id="close">Close</button>
              <a href="/user"><button type="button" class="btn-primary" id="user-submit">Submit</button></a>
            </div>
          </div>
          <!--/.Panel 8-->
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--- --->


<!-- Footer -->
<footer class="card-footer mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card-body">
          <h4>Contact us!</h4>
          <p><a href="#" class="links"><i class="fab fa-facebook-square"></i> Facebook</a></p>
          <p><a href="#" class="links"><i class="fab fa-twitter-square"></i> Twitter</a></p>
          <p><a href="#" class="links"><i class="fab fa-instagram"></i> Instagram</a></p>
          <p><a href="#" class="links"><i class="fas fa-envelope-open-text"></i> Email</a></p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card-body">
          <h4>Disney Information</h4>
          <p><a href="https://disneyworld.disney.go.com/admission/" target="_blank" class="links"><i
                class="fas fa-ticket-alt"></i> Parks and
              Tickets</a>
          </p>
          <p><a href="https://disneyworld.disney.go.com/resorts/" target="_blank" class="links"><i
                class="fas fa-hotel"></i> Places to
              Stay</a></p>
          <p><a href="https://disneyworld.disney.go.com/activities/" target="_blank" class="links"><i
                class="fas fa-calendar-alt"></i> Things to
              Do</a></p>
          <p><a
              href="https://www.shopdisney.com/property/disney-parks/walt-disney-world?CMP=syn-dcom:dcomm_parks_WDW_SDPRedirect_SiteNav_GearUpForYourVacation_efc280559"
              target="_blank" class="links"><i class="fas fa-shopping-cart"></i> Shop</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>