<div class="header">
    <!--Navbar-->
    <nav class="navbar navbar-light light-blue lighten-4">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="/">Park Planner</a>

        <!-- Collapse button -->
        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
            aria-label="Toggle navigation"><span class="dark-blue-text"><i
                    class="fas fa-bars fa-1x"></i></span></button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/example">Example Routes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://disneyworld.disney.go.com/" target="_blank">Disney
                        Information</a>
                </li>
            </ul>
            <!-- Links -->

        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->
</div><br>


<!--Beginning of container-->
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Saved Plans</h1>
            <hr>
        </div>
    </div>
        <br>
<!--End of header-->

    <div class="row">
            <!--Half of row-->
            <div class="col-md-6">
            <div class="card">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Ride Time</th>
                    <th scope="col">Ride Name</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th scope="row">8am</th>
                    <td id="8AM-Ride">Space Mountain</td>
                  </tr>

                  <tr>
                    <th scope="row">10am</th>
                    <td id="10AM-Ride">Rock N Roller Coaster</td>
                  </tr>

                  <tr>
                    <th scope="row">12pm</th>
                    <td id="12PM-Ride">Test Track</td>
                  </tr>

                  <tr>
                    <th scope="row">2pm</th>
                    <td id="2PM-Ride">Splash Mountain</td>
                  </tr>

                  <tr>
                    <th scope="row">4pm</th>
                    <td id="4PM-Ride">The Haunted Mansion</td>
                  </tr>

                  <tr>
                    <th scope="row">6pm</th>
                    <td id="6PM-Ride">Pirates of the Caribbean</td>
                  </tr>

                  <tr>
                    <th scope="row">8pm</th>
                    <td id="8PM-Ride">Soarin'</td>
                  </tr>

                </tbody>

              </table>
              </div>
              </div>

             <!--2nd half of column-->
            <div class="col-md-6">
            <div class="card">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Ride Time</th>
                    <th scope="col">Ride Name</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th scope="row">8am</th>
                    <td id="8AM-Ride">Space Mountain</td>
                  </tr>

                  <tr>
                    <th scope="row">10am</th>
                    <td id="10AM-Ride">Rock N Roller Coaster</td>
                  </tr>

                  <tr>
                    <th scope="row">12pm</th>
                    <td id="12PM-Ride">Test Track</td>
                  </tr>

                  <tr>
                    <th scope="row">2pm</th>
                    <td id="2PM-Ride">Splash Mountain</td>
                  </tr>

                  <tr>
                    <th scope="row">4pm</th>
                    <td id="4PM-Ride">The Haunted Mansion</td>
                  </tr>

                  <tr>
                    <th scope="row">6pm</th>
                    <td id="6PM-Ride">Pirates of the Caribbean</td>
                  </tr>

                  <tr>
                    <th scope="row">8pm</th>
                    <td id="8PM-Ride">Soarin'</td>
                  </tr>

                </tbody>

              </table>
              </div>
              </div>
                </div>
                </div>

<br>
<br>

<!-- Footer -->
<footer class="card-footer mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card-body">
          <h4>Contact us!</h4>
          <p><a href="#" class="links"><i class="fab fa-facebook-square"></i> Facebook</a></p>
          <p><a href="#" class="links"><i class="fab fa-twitter-square"></i> Twitter</a></p>
          <p><a href="#" class="links"><i class="fab fa-instagram"></i> Instagram</a></p>
          <p><a href="https://github.com/kstokes16/ParkPlanner" class="links"><i class="fab fa-github"></i> GitHub</a></p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card-body">
          <h4>Disney Information</h4>
          <p><a href="https://disneyworld.disney.go.com/admission/" target="_blank" class="links"><i
                class="fas fa-ticket-alt"></i> Parks and
              Tickets</a>
          </p>
          <p><a href="https://disneyworld.disney.go.com/resorts/" target="_blank" class="links"><i
                class="fas fa-hotel"></i> Places to
              Stay</a></p>
          <p><a href="https://disneyworld.disney.go.com/activities/" target="_blank" class="links"><i
                class="fas fa-calendar-alt"></i> Things to
              Do</a></p>
          <p><a
              href="https://www.shopdisney.com/property/disney-parks/walt-disney-world?CMP=syn-dcom:dcomm_parks_WDW_SDPRedirect_SiteNav_GearUpForYourVacation_efc280559"
              target="_blank" class="links"><i class="fas fa-shopping-cart"></i> Shop</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
