<div class="header">
  <!--Navbar-->
  <nav class="navbar navbar-light light-blue lighten-4">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">Park Planner</a>

    <!-- Collapse button -->
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
      aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/example">Example Routes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://disneyworld.disney.go.com/" target="_blank">Disney
            Information</a>
        </li>
      </ul>
      <!-- Links -->

    </div>
    <!-- Collapsible content -->

  </nav>
  <!--/.Navbar-->
</div><br>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1> Pick a Park to Create a Plan!</h1>
      <hr>
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <a href="#">
            <h5>Favorite Rides</h5>
          </a>
          <hr>
          <a href="/user/saved-plans">
            <h5>Saved Plans</h5>
          </a>
          <hr>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="row">
        <div class="col-sm-6">
          <div class="card" style="width: 18rem;">
            <a href="#" data-toggle="modal" data-target="#basicExampleModal"><img
                src="https://images.unsplash.com/photo-1555306210-a7dacfb0f72c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                class="card-img-top" alt="Magic Kingdom">
              <div class="card-body">
                <h5 class="card-title">Magic Kingdom</h5>
            </a>
            <!-- <a href="#" class="btn btn-info">Add to Plan</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
          <a href="#" data-toggle="modal" data-target="#basicExampleModal"><img
              src="https://cdn1.parksmedia.wdprapps.disney.com/media/blog/wp-content/uploads/2013/10/DAK-Entrance.jpg"
              class="card-img-top" alt="Animal Kingdom">
            <div class="card-body">
              <h5 class="card-title">Animal Kingdom</h5>
          </a>
          <!-- <a href="#" class="btn btn-primary">Add to Plan</a> -->
        </div>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 18rem;">
        <a href="#" data-toggle="modal" data-target="#basicExampleModal"><img
            src="https://images.unsplash.com/photo-1485824119360-27e61739eac7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
            class="card-img-top" alt="Epcot">
          <div class="card-body">
            <h5 class="card-title">Epcot</h5>
        </a>
        <!-- <a href="#" class="btn btn-primary">Add to Plan</a> -->
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <a href="#" data-toggle="modal" data-target="#basicExampleModal"><img
          src="https://orlando-attractions-ssl-dpfmxqguadzjp.netdna-ssl.com/wp-content/uploads/2012/04/Hollywood-Studios-tower.jpg"
          class="card-img-top" alt="Hollywood Studios">
        <div class="card-body">
          <h5 class="card-title">Hollywood Studios</h5>
      </a>
      <!-- <a href="#" class="btn btn-primary">Add to Plan</a> -->
    </div>
  </div>
  <div class="random-div"></div><br><br><br>
</div>
</div>
</div>
</div><br>
</div>
<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please add a Plan Title and a Date!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="plantitle">Plan Title</label>
            <input type="title" class="form-control" id="plan-title" placeholder="Smith Family Trip">
          </div>
          <div class="form-group">
            <label for="plandate">Date</label>
            <input type="date" class="form-control" id="plan-date">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-secondary" data-dismiss="modal" id="close">Close</button>
        <button type="button" class="btn-primary"  data-dismiss="modal" id="submit">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- End of modal -->

  <!-- Pasted code from create-plan page -->
  <div class="row" id="create-plan-row">
  <div class="col-sm-12">
    <h1>Create Your Plan</h1>
    <hr>
  </div>
</div><br>
<div class="row" id="create-plan-row-2">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <h4 id="user-title">Created plan Title</h4>
  </div>
  <div class="col-sm-4">
    <h4 id="user-date"> Date of trip: </h4>
  </div>
</div>
<div class="row" id="create-plan-row-3">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <a href="#">
          <h5>Favorite Rides</h5>
        </a>
        <hr>
        <a href="/user/saved-plans">
          <h5>Saved Plans</h5>
        </a>
        <hr>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-md-3">
                <img src="https://via.placeholder.com/100">
              </div>
              <div class="col-md-9">
                <h4>Ride Title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eos veniam
                  quam
                  ex.
                </p>
                <p>When to ride: </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <img src="https://via.placeholder.com/100">
              </div>
              <div class="col-md-9">
                <h4>Ride Title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eos veniam
                  quam
                  ex.
                </p>
                <p>When to ride: </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <img src="https://via.placeholder.com/100">
              </div>
              <div class="col-md-9">
                <h4>Ride Title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eos veniam
                  quam
                  ex.
                </p>
                <p>When to ride: </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Ride Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">8am</th>
                    <td>Space Mountain</td>
                  </tr>
                  <tr>
                    <th scope="row">10am</th>
                    <td>Rock N Roller Coaster</td>
                  </tr>
                  <tr>
                    <th scope="row">12pm</th>
                    <td>Test Track</td>
                  </tr>
                  <tr>
                    <th scope="row">2pm</th>
                    <td>Splash Mountain</td>
                  </tr>
                  <tr>
                    <th scope="row">4pm</th>
                    <td>The Haunted Mansion</td>
                  </tr>
                  <tr>
                    <th scope="row">6pm</th>
                    <td>Pirates of the Caribbean</td>
                  </tr>
                  <tr>
                    <th scope="row">8pm</th>
                    <td>Soarin'</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <button type="button" class="btn-info" id="saved-plans-btn">Save your Plan!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br><br>

<!--End of pasted code from create-plan page -->


<!-- Beginning of footer -->
<footer class="card-footer mt-auto py-3">
  <!-- Beginning of footer container -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <!-- <div class="card"> -->
        <div class="card-body">
          <h4>Contact us!</h4>
          <p><a href="#" class="links"><i class="fab fa-facebook-square"></i> Facebook</a></p>
          <p><a href="#" class="links"><i class="fab fa-twitter-square"></i> Twitter</a></p>
          <p><a href="#" class="links"><i class="fab fa-instagram"></i> Instagram</a></p>
          <p><a href="#" class="links"><i class="fas fa-envelope-open-text"></i> Email</a></p>
        </div>
        <!-- </div> -->
      </div>
      <div class="col-lg-6">
        <!-- <div class="card"> -->
        <div class="card-body">
          <h4>Disney Information</h4>
          <p><a href="https://disneyworld.disney.go.com/admission/" target="_blank" class="links"><i
                class="fas fa-ticket-alt"></i> Parks and
              Tickets</a>
          </p>
          <p><a href="https://disneyworld.disney.go.com/resorts/" target="_blank" class="links"><i
                class="fas fa-hotel"></i> Places to
              Stay</a></p>
          <p><a href="https://disneyworld.disney.go.com/activities/" target="_blank" class="links"><i
                class="fas fa-calendar-alt"></i> Things to
              Do</a></p>
          <p><a
              href="https://www.shopdisney.com/property/disney-parks/walt-disney-world?CMP=syn-dcom:dcomm_parks_WDW_SDPRedirect_SiteNav_GearUpForYourVacation_efc280559"
              target="_blank" class="links"><i class="fas fa-shopping-cart"></i> Shop</a>
          </p>
        </div>
        <!-- </div> -->
      </div>
    </div>

<!--End of footer container -->
  </div>

<!-- End of footer -->
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>