.card-footer, .links {
    background-color: lightblue;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.card-title, h5 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

#close {
    color: white;
    text-align: center;
    border: solid 1px lightslategray;
    background-color: lightslategray;
    font-family: 'Courier New', Courier, monospace;
}

#submit {
    color: white;
    text-align: center;
    border: solid 1px lightslategray;
    background-color: lightslategray;
    font-family: 'Courier New', Courier, monospace;
}

#plan-title, #plan-date {
    font-family: 'Courier New', Courier, monospace;
}

#saved-plans-btn {
    margin-top: 10px;
    color: white;
    text-align: center;
    border: solid 1px lightslategray;
    background-color: lightslategray;
    font-family: 'Courier New', Courier, monospace;
}

#user-title, #user-date {
    font-family: 'Courier New', Courier, monospace;

.card {
    box-shadow: 3px 3px 5px darkgrey
